h1 {
  font-size: 80px;
  font-weight: 800;
}

p {
  color: green;
  font-size: xx-large;
  font-weight: 600;
}

button {
  width: 7rem;
  height: 2rem;
  border-radius: 16px;
  border: none;
  font-weight: bold;
}

.add {
  background-color: yellow;
}

.buy {
  background-color: orangered;
}